.register{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 2, 14, 0.5)),
    url("./images/Background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 3%;
    height: 100%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-right{
    background: #3194f8;
    opacity: 0.6;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 45%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: bolder;
    font-size: 150%;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
    
}
.btnRegister{
    float: right;
    margin-top: 2%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #033d7a;
    color: #fff;
    font-weight: 800;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 1000;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #033d7a;
    border: 2px solid #033d7a;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    color: rgb(8, 8, 8);
    font-weight: bolder;
    font-size: 210%;
}

